{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card"  style="height: 25rem;">
  <img src="{{i.img.url}}" class="card-img-top" alt="..." style="height:250;">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
   <p  class="card-text" style="width:14rem;font-size:60%;">{{i.desc}}</p>
    <a class="btn btn-warning" href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">view details</a>
</div>
</div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}